html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: 'Lato', sans-serif; /* Apply Lato font */
}

.calculator {
    width: 300px;
    height: 400px;
    margin: 0 auto;
    border: 1px solid #000;
    padding: 10px;
    border-radius: 10px;
    background-color: #222;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.display {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    text-align: right;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #D4DEE5;
    color: #000;
}

.button {
    background-color: #d11d1d;
    border: none;
    color: white;
    padding: 15px;
    flex: 1 1 22%;
    text-align: center;
    font-size: 16px;
    margin: 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
    background-color: #a50d0d;
}

.button:active {
    background-color: #9b0b0b;
    transform: scale(0.98);
}

.button-math {
    background-color: #f4b400;
    color: #222;
    padding: 15px;
    flex: 1 1 22%;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

.button-math:hover {
    background-color: #dcb10f;
}

.button-math:active {
    background-color: #c0a00f;
    transform: scale(0.98);
}

.button-row {
    display: flex;
    flex-wrap: wrap;
    margin: -2px;
}
